extends layoutBS

block content
  #carouselExampleIndicators.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
      li(data-target='#carouselExampleIndicators' data-slide-to='1')
      li(data-target='#carouselExampleIndicators' data-slide-to='2')
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src='/images/cat.jpg' class="img-thumbnail" alt='First slide')
      .carousel-item
        img.d-block.w-100(src='/images/dog.jpg' class="img-thumbnail" alt='Second slide')
      .carousel-item
        img.d-block.w-100(src='/images/cat.jpg' class="img-thumbnail" alt='Third slide')
    a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next

    .container-fluid
      .row
        .col
          ul.list-group.list-group-flush
            li.list-group-item Home
            li.list-group-item About Us
            li.list-group-item Blog
            li.list-group-item Jobs
            li.list-group-item Help & FAQ
            li.list-group-item Most popular charts
            li.list-group-item Festivals
        .col
          ul.list-group.list-group-flush
            li.list-group-item Tourbox for artists
            li.list-group-item API information
            li.list-group-item Community guidelines
            li.list-group-item Terms of use
            li.list-group-item Privacy policy
            li.list-group-item Ad & Cookies policy
            li.list-group-item Security
        .col

        .col

        .col

        .col
