extends layoutBS

block content
  .jumbotron
    h1 Login to CookieJar
    p You must have a gmail account to login to CookieJar

    a.btn.btn-danger(href="/auth/google")
      span.fa.fa-google-plus  Google
